.spin-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    max-width: 1010px;
    margin: 0 auto;
    padding: 20px 30px;
    line-height: 1;
}
.header__list{
    display: flex;
    justify-content: center;
}
.header__list-item{
    font-size: 14px;
    padding-bottom: 10px;
}
.header__list-item:hover{
    cursor: pointer;
}
.header__list-item:not(:first-child) {
    margin-left: 16px;
}
.header__search{
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 16px;
    padding: 9px 12px;
}
.header__list-item_selected{
    color: #1890FF;
    border-bottom: 2px solid #1890FF;
}

