.spin-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    max-width: 1010px;
    margin: 0 auto;
    padding: 20px 30px;
    line-height: 1;
}

@media (max-width: 420px) {
 .main {
    padding: 20px 11px;
 }
}

