.poster-list{
    display: flex;
    flex-wrap: wrap;
}
.poster-list__item {
    width: 450px;
    flex-shrink: 0;
    margin-top: 35px;
}
.poster-list__item:nth-child(2n + 1){
    margin-right: 35px;
}